footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 1rem;
    background-color: #072B61;
    color: white;
}

.contenedor_iconos {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.ancla_icono {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.7rem;
    margin: 0 0.4rem 0.4rem 0;
}

.ancla_icono:hover {
    color: white;
}

footer p {
    margin-bottom: 0.5rem;
    text-align: center;
}

